<div class="flex flex-col h-full w-full pr-4">
  <!-- Toolbar -->
  <div class="flex justify-between items-center bg-base-200 rounded-box">
    <div class="tabs tabs-border">
      @for (item of tabs(); track $index) {
        <button
          class="tab"
          [class.tab-active]="tab() === item"
          (click)="goToTab(item)"
        >
          {{ allTabs[item].label }}
        </button>
      }
    </div>
    <div class="flex">
      @if (tab() === 'FILE') {
        <app-action [@enterLeaveAnimation]></app-action>
      }
      <button
        class="btn btn-ghost btn-circle mr-2"
        popovertarget="toolbar-config"
        style="anchor-name: --toolbar-config"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>
      </button>
      <ul
        class="dropdown dropdown-end menu p-2 shadow bg-base-200 rounded-box w-61"
        popover
        id="toolbar-config"
        style="position-anchor: --toolbar-config"
      >
        @if (tab() === 'TITLE') {
          <app-title-tab-config></app-title-tab-config>
        } @else if (tab() === 'FILE') {
          <app-file-tab-config></app-file-tab-config>
        }
      </ul>
    </div>
  </div>

  <!-- Content -->
  <div class="grow min-h-0 w-full">
    <router-outlet></router-outlet>
  </div>
</div>
