<button class="btn btn-sm btn-primary" (click)="open(dialog)">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-5"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
    />
  </svg>
  Show logs
</button>
<dialog #dialog class="modal">
  <div class="modal-box md:max-w-[67vw]">
    <label class="input input-ghost input-sm mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
        />
      </svg>
      <input
        id="file-tab-filter"
        type="text"
        placeholder="Filter"
        [(ngModel)]="filter"
        (ngModelChange)="apply()"
      />
    </label>
    <form method="dialog">
      <div class="max-h-[67vh] overflow-auto">
        <table class="table table-zebra table-pin-rows">
          <thead>
            <tr>
              <td>Timestamp</td>
              <td>Source</td>
              <td>Level</td>
              <td>Message</td>
            </tr>
          </thead>
          <tbody>
            @for (entry of logs(); track $index) {
              <tr
                [class.text-info]="entry.level === 'INFO'"
                [class.text-warning]="entry.level === 'WARNING'"
                [class.text-error]="entry.level === 'ERROR'"
              >
                <td class="min-w-43 max-w-43">
                  {{ entry.timestamp | date: 'YYYY-MM-dd HH:mm:ss' }}
                </td>
                <td class="min-w-23 max-w-23">
                  {{ entry.source }}
                </td>
                <td class="min-w-23 max-w-23">
                  {{ entry.level }}
                </td>
                <td class="w-full">
                  {{ entry.message }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="modal-action">
        <button class="btn btn-secondary" (click)="close()">Close</button>
      </div>
    </form>
  </div>
</dialog>
